@font-face {
    font-family: "fontWolfenstein";
    src: url("../font/wolfenstein.ttf");
}

#grille{
    display: grid;
    overflow: hidden;
    height: 100%;
    width: 100%;
    /*height: 505px;
    width: 960px;*/
    grid-template-columns: repeat(32, 30px);
    /*position: fixed;*/
    /*top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);*/
    /*background-image: url("../sprite/chateauWolfenstein.png");*/
    background-repeat: no-repeat;
    /*background-position: center;
    background-size: 100%;*/
    background-color: black;

}

/*#Score{
    color: red;
}*/

#niveauTermine{
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    text-align: center;
    background-image: url('../sprite/winScreen.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    object-fit: contain;
    color: white;
    z-index: 1;
    /*padding:0;
    margin:0;*/
    top:0;
    left:0;
    
    font-size: 100px;

    /*width: 100%;
    height: 100%;*/
    /*align-items: center;
    justify-content: center;*/
}
#buttonNiveauSuivant{
    font-family: "fontWolfenstein";
    font-size: 100px;
    background-color: transparent;
    /*border: none;*/
    overflow: hidden;
    outline: none;
    /*color: rgb(254, 254, 14);*/
    display: flex;
    transform: translate(+150%, 0%);
    background-color: transparent;
    /*border: none;*/
    border-color: black;
}
#buttonNiveauSuivant:hover{
    color: white;
}

#divFinJeu{
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    text-align: center;
    background-image: url('../sprite/endScreen.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    object-fit: contain;
    color: white;
    z-index: 1;
    /*padding:0;
    margin:0;*/
    top:0;
    left:0;
    
    font-size: 100px;
}
#finJeu{
    font-family: "fontWolfenstein";
    font-size: 100px;
    background-color: transparent;
    /*border: none;*/
    overflow: hidden;
    outline: none;
    /*color: rgb(254, 254, 14);*/
    display: flex;
    transform: translate(+100%, 270%);
    background-color: transparent;
    /*border: none;*/
    border-color: black;
}
#finJeu:hover{
    color: white;
}



#mort{
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    text-align: center;
    background-image: url('../sprite/deathScreen.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    object-fit: contain;
    color: white;
    z-index: 1;
    top:0;
    left:0;
    
    font-size: 100px;
}

#win{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

/*#mur{
    transform: scale(1.2);
}*/

.case{
    /*background-size: contain;*/
    /*display: flex;
    justify-content: center;
    align-items: center;*/
    /*border: 1px solid;*/
    /*height: 100%;
    width: 100%;*/
    /*/height: 30px;
    width: 30px;*/
    /*height: 30px;
    width: 30px;*/
    /*padding: 0;
    margin: 0;*/
    /*line-height: 0;
    background-position: -100% 0;
    background-size: cover;*/
    /*background-size: 25px 20px;
    background-position: 25px 20px;*/
    /*transform: scale(2);*/
}

body{
    font-family: "fontWolfenstein";
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
    margin: 0;
    /*background-image: url("../sprite/fond.png");*/
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: 120%;*/
}

#coteGauche{
    flex-basis: 45%;
    background-color: rgb(167, 23, 32);
    display: flex;
    flex-direction: column;
}

#coteDroit{
    flex-basis: 55%;
}

#divScore{
    text-align:center;
    margin-top: auto;
    /*padding: 0;
    margin-top: 0;*/
}

#score{
    font-family: "fontWolfenstein";
    font-size: 50px;
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
    overflow: hidden;
    outline: none;
    /*min-height: 100vh;
    min-width: 100vw;
    font-size: 50px;*/
    /*background-color: transparent;
    border: none;
    overflow: hidden;
    outline: none;*/
}

#divSauvegarde{
    text-align:center;
    margin-top: auto;
}
#buttonSauvegarde{
    font-family: "fontWolfenstein";
    font-size: 50px;
    background-color: transparent;
    border-color: black;
    overflow: hidden;
    outline: none;
}
#buttonSauvegarde:hover{
    color: white;
}

#divReinitialiser{
    text-align:center;
    margin-top: auto;
}
#buttonReinitialiser{
    font-family: "fontWolfenstein";
    font-size: 50px;
    background-color: transparent;
    border-color: black;
    overflow: hidden;
    outline: none;
}
#buttonReinitialiser:hover{
    color: white;
}

#divButtonMenu{
    text-align:center;
    margin-top: auto;
}

#buttonMenu{
    font-family: "fontWolfenstein";
    font-size: 50px;
    background-color: transparent;
    /*border: none;*/
    border-color: black;
    overflow: hidden;
    outline: none;
}

#buttonMenu:hover{
    color: white;
}

#divTexte{
    text-align:center;
    margin-top: 0;
}

#evasion{
    font-family: "fontWolfenstein";
    font-size: 50px;
    background-color: transparent;
    border: none;
    overflow: hidden;
    outline: none;
    text-decoration: underline black;
}


#buttonNiveauSuivant{
    font-family: "fontWolfenstein";
}

button{
    font-family: "fontWolfenstein";
}

#niveau{
    display: flex;
    min-height: 100vh;
}

#niveau > div {
    flex-grow: 1;
  }

