
#grille{
    display: grid;
    overflow: hidden;
    height: 505px;
    width: 960px;
    grid-template-columns: repeat(32, 30px);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url("../sprite/chateauWolfenstein.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    background-color: brown;

}

#Score{
    color: red;
}

#niveauTermine{
    position: fixed;
    min-height: 100vh;
    min-width: 100vw;
    text-align: center;
    background-image: url('../sprite/winScreen.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    color: red;
    z-index: 2;
}

#win{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.case{
    border: 1px solid;
    height: 30px;
    width: 30px;
    padding: 0;
    margin: 0;
}

body{
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
    margin: 0;
    background-image: url("../sprite/fond.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 120%;
}