@font-face {
    font-family: "fontWolfenstein";
    src: url("../font/wolfenstein.ttf");
}

/*html {
    font-family: "fontWolfenstein";
}*/

#buttonJouer, #buttonCharger, #buttonVotreEvasion{

    font-family: "fontWolfenstein";
    font-size: 50px;
    background-color: transparent;
    border: none;
    overflow: hidden;
    outline: none;
    /*position:relative;*/
    /*width: 200px;*/
}

#buttonJouer:hover, #buttonCharger:hover, #buttonVotreEvasion:hover{
    color: white;
}

body{
    /*display: flex;*/
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
    margin: 0;
    
    /*box-sizing: border-box;*/
}

#myVideo1{
    position: fixed;
    min-width: 100%;
    min-height: 100%; 
    width: 50%;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#myVideo2{
    position: fixed;
    min-width: 100%;
    min-height: 100%; 
    width: 50%;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#myVideo3{
    position: fixed;
    min-width: 100%;
    min-height: 100%; 
    width: 50%;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content {
    /*font-family: "fontWolfenstein";*/
    text-align: center;
    width: 300px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 40%;
    /*bottom: 0;*/
    /*background: rgba(0, 0, 0, 0.5);*/
    color: #f1f1f1;
    /*width: 100%;*/
    /*padding: 20px;*/
  }


