@font-face {
    font-family: "fontWolfenstein";
    src: url("../font/wolfenstein.ttf");
}

#buttonJouer, #buttonCharger, #buttonVotreEvasion, #buttonEffacer{

    font-family: "fontWolfenstein";
    font-size: 50px;
    background-color: transparent;
    border-color: black;
    overflow: hidden;
    outline: none;
}

#buttontitre{
    font-family: "fontWolfenstein";
    font-size: 75px;
    background-color: transparent;
    color: white;
    overflow: hidden;
    outline: none;
    border: none;
}

#buttonJouer:hover, #buttonCharger:hover, #buttonVotreEvasion:hover, #buttonEffacer:hover{
    color: white;
}

body{
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
    margin: 0;
}

#myVideo1{
    position: fixed;
    min-width: 100%;
    min-height: 100%; 
    width: 50%;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#myVideo2{
    position: fixed;
    min-width: 100%;
    min-height: 100%; 
    width: 50%;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#myVideo3{
    position: fixed;
    min-width: 100%;
    min-height: 100%; 
    width: 50%;   
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#idContent {
    text-align: center;
    width: 500px;
    height: 500px;
    position: fixed;
    top: 50%;
    left: 35%;
    color: #f1f1f1;
}

#titre{
    text-align: center;
    width: 500px;
    height: 500px;
    position: fixed;
    top: 0%;
    left: 35%;
    color: #f1f1f1;
}




